<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - GerenciamentoProducao</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/GerenciamentoProducao.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=side_navigation" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>
<body>

	<!-- Navegação -->
	@if (User.IsInRole("Administrador") || User.IsInRole("Gerente") || User.IsInRole("Outros"))
	{
	<nav id="sidebar" class="sidebar">
		<button id="toggle-sidebar">
			<span class="material-symbols-outlined">
				side_navigation
			</span>
		</button>


		<ul class="nav flex-column gap-2 mt-4" id="navLeft">
				
			<li><a class="nav-link" asp-controller="Dashboard" asp-action="Index">📊 Dashboard</a></li>
				@if (User.IsInRole("Administrador") || User.IsInRole("Gerente")){
			<li><a class="nav-link" asp-controller="Home" asp-action="Index">🏠 Início</a></li>

				@if (User.IsInRole("Administrador") ){

			<li><a class="nav-link" asp-controller="Usuario" asp-action="Index">👥 Usuários</a></li>
				<li><a class="nav-link" asp-controller="Usuario" asp-action="Inativos">⛔ Inativos</a></li>
				}
                <li><a class="nav-link" asp-controller="Caixilho" asp-action="Index">🪟 Caixilho</a></li>
                <li><a class="nav-link" asp-controller="Caixilho" asp-action="Liberacoes">🔓 Liberações</a></li>
                <li><a class="nav-link" asp-controller="TipoCaixilho" asp-action="Index">🔠 Tipos de Caixilhos</a></li>
                <li><a class="nav-link" asp-controller="FamiliaCaixilho" asp-action="Index">📦 Família de Caixilho</a></li>
				}
                <li><a class="nav-link" asp-controller="Obra" asp-action="Index">🏗️ Obras</a></li>
                <li><a class="nav-link" asp-controller="Producao" asp-action="Index">🛠️ Produções</a></li>
                <li><a class="nav-link" asp-controller="MetaMensal" asp-action="Index">🎯 Metas Mensais</a></li>
                <li><a class="nav-link" asp-controller="RelatorioProducao" asp-action="Index">📊 Relatórios</a></li>
			@if (User.Identity?.IsAuthenticated == true)
			{
				<li class="mt-4">
					<a class="nav-link text-danger" asp-controller="Usuario" asp-action="Logout">🚪 Sair</a>
				</li>
			}
		</ul>
	</nav>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top z-10" id="navTop">
			<div class="container">
				<a class="navbar-brand" href="#home" >⚙️ SIGE</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="menu" class="collapse navbar-collapse">
					<ul class="navbar-nav ms-auto">
						<li><a class="nav-link" asp-controller="Dashboard" asp-action="Index">📊 Dashboard</a></li>
						<li><a class="nav-link" asp-controller="Home" asp-action="Index">🏠 Início</a></li>
						<li><a class="nav-link" asp-controller="Usuario" asp-action="Index">👥 Usuários</a></li>
						<li><a class="nav-link" asp-controller="Usuario" asp-action="Inativos">⛔ Inativos</a></li>
                <li><a class="nav-link" asp-controller="Caixilho" asp-action="Index">🪟 Caixilho</a></li>
                <li><a class="nav-link" asp-controller="Caixilho" asp-action="Liberacoes">🔓 Liberações</a></li>
                <li><a class="nav-link" asp-controller="TipoCaixilho" asp-action="Index">🔠 Tipos de Caixilhos</a></li>
                <li><a class="nav-link" asp-controller="FamiliaCaixilho" asp-action="Index">📦 Família de Caixilho</a></li>
                <li><a class="nav-link" asp-controller="Obra" asp-action="Index">🏗️ Obras</a></li>
                <li><a class="nav-link" asp-controller="Producao" asp-action="Index">🛠️ Produções</a></li>
                <li><a class="nav-link" asp-controller="MetaMensal" asp-action="Index">🎯 Metas Mensais</a></li>
                <li><a class="nav-link" asp-controller="RelatorioProducao" asp-action="Index">📊 Relatórios</a></li>
						@if (User.Identity?.IsAuthenticated == true)
						{
							<li class="mt-4">
								<a class="nav-link text-danger" asp-controller="Usuario" asp-action="Logout">🚪 Sair</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	}
	<div id="tudo">
		<main role="main" class="main">
			<div class="container-fluid">
				@RenderBody()
			</div>
		</main>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Styles", required: false)
	@await RenderSectionAsync("Scripts", required: false)
@* 	<script> *@
		
@* const path = window.location.pathname; *@
@* 		if (path.includes("/Delete/")) { *@
@* 			document.getElementById("navTop").style.display = "none"; *@
@* 			document.getElementById("sidebar").style.display = "none"; *@
@* 			document.getElementById("tudo").style.margin = "0"; //evita espaço sobrando *@
@* 		} *@
@* 		if(!path.includes("/Home/Index")){ *@
@* 			document.getElementsByClassName("main")[0].style.marginTop = "0px"; *@

		
@* 	</script> *@
</body>
</html>
